<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.agroinfo">

    <supports-screens android:largestWidthLimitDp="320" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FormularioLogin"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormularioCadastro"
            android:label="@string/title_activity_cadastro" />
        <activity
            android:name=".MenuP"
            android:label="" />
        <activity android:name=".FormProd" />
        <activity android:name=".ConfConta" />
        <activity android:name=".Lista_anotacoes" />
        <activity android:name=".Nova_anotacao" />
        <activity android:name=".Lista_produtos" />
        <activity android:name=".AlterarProduto" />
        <activity android:name=".NovaCategoria" />
        <activity android:name=".AlterarCategoria" />
        <activity android:name=".alterar_anotacao" />
        <activity android:name=".PesquisarProduto" />
        <activity android:name=".FormVendas" />
        <activity android:name=".ConfContaUs" />
        <activity android:name=".DetalhesProduto" />
        <activity android:name=".CadastrosOpcionais"></activity>
    </application>

</manifest>